{{!< layout.hbs }}
{{#each articles}}
  <div class="post-entry h-entry">
    <div class="post-date dt-published">
      {{formatDate}}
    </div>
    <div class="post-title p-name">
      <a href="{{ url }}" class="u-url">{{title}}</a>
    </div>
  </div>
{{/each}}
{{#if  prevPage}}
  <a href="{{prevPage.url}}">« Newer Posts</a>
{{/if}}
{{#if  nextPage}}
  <a href="{{nextPage.url}}">Older Posts »</a>
{{/if}}