{{!< layout.hbs }}
<article class="blog-post h-entry">
  <h1 class="p-name">{{ formatInstagramTitle page.date }}</h1>
  <div class="post-header__date">
    <time class="dt-published" datetime="{{formatDateHTML page.date}}">{{formatDate page.date}}</time>
  </div>
  <div class="e-content">
    <p>{{ page.metadata.description }}<br/>{{formatTags page.metadata.tags}}</p>
    <video src="/photos/{{ page.title }}/{{ page.title }}.mp4" controls></video>
    <p><a href="{{ page.metadata.link }}" target="_blank">Original post</a></p>
  </div>
</article>